@model System.Web.Mvc.HandleErrorInfo

@{
    this.ViewBag.Title = "Erreur";
}

<hgroup class="title">
    <h1 class="error">@Resources.Resources.Error</h1>
    <h2 class="error">@Resources.Resources.ErrorRequest</h2>
</hgroup>
