<div class="alert homeNotification" data-notificationid="@(this.ViewBag.notificationId)">
    <button class="close" type="button" data-dismiss="alert">×</button>
    <p>
        @(this.RenderBody())
    </p>
</div>