<div class="alert homeNotification" data-notificationid="@ViewBag.notificationId">
    <button class="close" type="button" data-dismiss="alert">×</button>
    <p>
        @RenderBody()
    </p>
</div>