@{
    // the default master layout to be used is specified into ~/Views/Shared/_Layout.cshtml
    this.ViewBag.Title = "Rapports du système de tutorat";  // title of the current page passed to the master layout (in the <title /> html tag)
}

<!-- Page header -->
<div class="page-header">
	<h1><span class="awe-tasks"></span>Rapports du système de tutorat</h1>
</div>
<!-- /Page header -->
<div class="page-container">
    <div class="row-fluid">
        <article class="span6">
            <fieldset>
                <legend>Heures travaillées par les tuteurs</legend>
                <p style="text-align: center;">
                    Pour générer le rapports du nombre heures travaillées par tuteurs, cliquez sur le boutton suivant : <br /><br />
                    @(this.Html.ActionLink("Générer le rapport", "tutorsMonthlyWorkedHours", "ReportsMgr", new { @class = "btn btn-large btn-primary btn-wuxia", @target = "_blank" }))
                </p>
            </fieldset>
        </article>    
    </div>
</div>
